In [2]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import os
import pandas as pd

In [2]:
# requests.get will load static content on page
# url = 'https://mars.nasa.gov/news/'
# response = requests.get(url)
# soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### Mars Latest News

In [4]:
# splinter will load dynamic content
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
# print(soup.prettify())

In [6]:
news_title = soup.find('div', class_='content_title').text.strip()
news_title
news_p = soup.find('div', class_='article_teaser_body').get_text()
print(f'Title: {news_title}')
print(f'{news_p}')

Title: Mars InSight's 'Mole' Is Moving Again
The NASA lander's robotic arm seems to have helped its heat probe burrow almost 2 centimeters (3/4 of an inch) since last week.

### Mars Featured Image URL

In [7]:
images_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(images_url)
images_html = browser.html
images_soup = BeautifulSoup(images_html, 'html.parser')

In [21]:
# print(images_soup.prettify())

In [12]:
imageurl_head = 'https://www.jpl.nasa.gov'
imageurl_tail = images_soup.find('div', class_='carousel_items').a['data-fancybox-href']
featured_image_url = imageurl_head + imageurl_tail
print(f'NASA Featured Image URL: {featured_image_url}')

NASA Featured Image URL: https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18906_ip.jpg

### Mars Twitter Weather Report

In [13]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)
twitter_html = browser.html
twitter_soup = BeautifulSoup(twitter_html, 'html.parser')

In [ ]:
print(twitter_soup.prettify())

In [20]:
mars_weather = twitter_soup.find('div', class_='js-tweet-text-container').p.get_text().strip()
mars_weather = mars_weather.replace('\n', ' ')
mars_weather = mars_weather.split('pic.twitter.com')[0]
print(mars_weather)

InSight sol 316 (2019-10-16) low -101.8ºC (-151.3ºF) high -25.7ºC (-14.3ºF) winds from the SSE at 4.7 m/s (10.5 mph) gusting to 18.2 m/s (40.8 mph) pressure at 7.10 hPa

### Mars Facts

In [22]:
facts_url = "https://space-facts.com/mars/"

In [24]:
tables = pd.read_html(facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [25]:
type(tables)

list

In [41]:
mars_facts = tables[1]
mars_facts = mars_facts.rename(columns={0 : 'Mars Profile Type',
                          1 : 'Statistics'})
mars_facts = mars_facts.set_index('Mars Profile Type')
mars_facts

                                         Statistics
Mars Profile Type
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [44]:
html_table = mars_facts.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Statistics</th>    </tr>    <tr>      <th>Mars Profile Type</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [45]:
mars_facts.to_html('mars_facts_table.html')

### Mars Hemispheres

In [6]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)
hem_html = browser.html
hem_soup = BeautifulSoup(hem_html, 'html.parser')

In [66]:
# print(hem_soup.prettify())

In [67]:
hem_desc = hem_soup.find_all('div', class_='description')
# hem_desc

In [43]:
link_head = "https://astrogeology.usgs.gov"
link_collection = []
for desc in hem_desc:
    link_tail = desc.a['href']
    link_collection.append(link_head+link_tail)

print(link_collection)

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [64]:
hemtitleurl_collection =[]

for link in link_collection:
    browser.visit(link)
    hemimage_html = browser.html
    hemimage_soup = BeautifulSoup(hemimage_html, 'html.parser')
    hemimage_url = hemimage_soup.find('li').a['href']
    hemimage_title = hemimage_soup.find('h2', class_='title').text.strip()
    hem_dict = {"title" : hemimage_title, "url" : hemimage_url}
    hemtitleurl_collection.append(hem_dict)